.all-buttons {
    text-align:center;
    
}

.all-buttons button {
    display:block;
    margin:20px auto;
}

.disabled {
    background-color:#d8d8d8;
    color:white;
    padding:10px 20px;
    border-radius:5px;
    border:none;
    cursor:not-allowed;
    outline:0;
    box-shadow:0px 2px 2px lightgray;
    text-transform:uppercase;
}

.active {
    background-color:cadetblue;
    color:white;
    padding:10px 20px;
    border-radius:5px;
    border:solid 2px;
    border-color:#70c2c4;
    cursor:progress;
    outline:0;
    box-shadow:0px 2px 2px lightgray;
    text-transform:uppercase;
}

