.search-bar {
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.search-bar input {
    margin-top:20px;
    width:350px;
    padding:10px 20px;
    font-size:18px;
}

p {
    padding:10px;
    font-size:16px;
}